@model GoodNews.BL.ViewModels.ArticleViewModel
@{
    ViewData["Title"] = Model.Article.Title;
}

<div class="container">
    <div class="p-2">
        <h1>@Model.Article.Title</h1>
        <div>@Html.Raw(Model.Article.Content)</div>
    </div>
    <div class="container">
        <button id="addacomment" class="pull-right btn btn-primary">Add a comment</button>
        <div id="addcomment">
            <form asp-action="AddComment" class="col" style="margin-top: 15px;" method="post">
                <input type="hidden" name="articleId" value="@Model.Article.Id" />
                <textarea name="content" class="form-control" id="comment-content" rows="3" minlength=10></textarea>
                <div>
                    <button type="submit" class="btn btn-primary btn-sm mt-1">Send</button>
                </div>
            </form>
        </div>
        <div class="card-body col-10">
            @if (Model.Comments != null)
            {
                @foreach (var comment in Model.Comments)
                {
                    <small><strong>@Html.DisplayFor(modelItem => comment.User.UserName)</strong> @comment.Date</small>

                    <p>@comment.Content</p>
                }
            }

        </div>
    </div>

</div>


@section Scripts{
    <script>
        $(document).on('click', '#addacomment', function(){
            $('#addcomment').slideToggle();
        });
    </script>
}




