@model GoodNews.BL.ViewModels.ArticleViewModel
@{
    ViewData["Title"] = Model.Article.Title;
}

<div class="container">
    <div class="p-2">
        <h1>@Model.Article.Title</h1>
        <div>@Html.Raw(Model.Article.Content)</div>
        <div><a href="@Model.Article.Url">источник</a></div>
    </div>
    <div class="container">
        <button id="toggle-comment-input" class="btn btn-primary m-3">Add a comment</button>
        <div id="comment-input" style="display: none">
            <form asp-action="AddComment" class="col" method="post">
                <input type="hidden" name="articleId" value="@Model.Article.Id" />
                <textarea name="content" class="form-control" id="comment-content" rows="3" minlength=10></textarea>
                <div>
                    <button type="submit" class="btn btn-primary btn-sm mt-2">Send</button>
                </div>
            </form>
            <button id="btn-send" class="btn btn-primary btn-sm mt-2 ml-3">SendAjax</button>
        </div>
        <div class="card-body col-10">
            @if (Model.Comments != null)
            {
                @foreach (var comment in Model.Comments)
                {
                    <small><strong>@Html.DisplayFor(modelItem => comment.User.UserName)</strong> @comment.Date</small>

                    <p>@comment.Content</p>
                }
            }

        </div>
    </div>

</div>


@section Scripts{
    <script>
        $(document).ready(function() {
            $('#toggle-comment-input').click(toggleCommentInput);
            $('#btn-send').click(addComment);
        });


        const toggleCommentInput = () => {
            $('#comment-input').slideToggle();
        };

        const addComment = () => {
            let comment = {
                Id: $('#articleId').val(),
                Content: $('#comment-content').val()
            }

            $.ajax({
                type: "POST",
                url: "/News/AddComment",
                data: comment,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function(response) {
                    $('#container').html(response);;
                },
                failure: function(response) {
                    alert(response.responseText);
                },
                error: function(response) {
                    alert(response.responseText);
                }
            });
        };
    </script>
}




